@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

svg {
  font-family: "Aboreto", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 4s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 69px;
  font-weight: 700;
}
@keyframes stroke {
  0% {
    fill: rgba(204, 204, 204, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(204, 204, 204, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(204, 204, 204, 0);
    stroke: rgb(192, 199, 197);
    stroke-width: 3;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(255, 102, 0, 0.616);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: transparent;
  margin-bottom: -27px;
}

.text-gradient {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: repeating-conic-gradient(
      from 108deg at 45% 47%,
      #ffe20345 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #ff5a00ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #ffdb00ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #ff0049ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #ff7000ff 0%, #ff0000ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; /* Required for Firefox */
}

/* From Uiverse.io by Web-Potato */
button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: transparent;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: transparent;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  margin-left: 4px;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
  transition: all 1s;
}
